html,body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin:0;
    padding: 0;
}

footer {
    text-align: center;
    padding-top: 20px;
}

.owari {
    text-align: right;
    padding-right: 30px;
}

.header {
    font-size: large;
    padding-top: 50px;
}
