html,body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin:0;
    padding: 0;
    
}

.about{
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color:gold;
    color:hotpink;
    

}
main {
    margin-left: 20%;
    margin-right: 20%;
}

.matome{
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
    background-color:gold;
    color:hotpink;
}
