html,body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin:0;
    padding: 0;
}

.header-logo {
    font-family: serif;
    font-size:50px;
    color:crimson;
    padding: 20px,30px;
    background-color: gold;
}

.header-icon {
    padding: 20px;
}

.header-wrapper {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px,30px;
    font-size: 10px;
}
